In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from min_max_scaler import MinMaxScaler
import pandas as pd
import numpy as np

# Load the iris dataset
data = load_iris()
X = data.data
y = data.target

scaler = MinMaxScaler()
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = scaler.fit_transform(X_train)

# Only use the first 10 samples for demonstration purposes
X_train = X_train[:10]
y_train = y_train[:10]

In [5]:
X_train = pd.DataFrame(X_train, columns=data.feature_names)
X_train

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.088235          0.666667           0.000000          0.041667
1           0.411765          1.000000           0.087719          0.125000
2           0.705882          0.458333           0.596491          0.541667
3           0.147059          0.583333           0.105263          0.041667
4           0.029412          0.500000           0.052632          0.041667
5           0.588235          0.208333           0.701754          0.750000
6           0.617647          0.500000           0.614035          0.583333
7           0.264706          0.625000           0.087719          0.041667
8           0.205882          0.666667           0.070175          0.041667
9           0.264706          0.875000           0.087719          0.000000

In [3]:
indices = np.random.permutation(len(X_train))
indices

array([3, 2, 6, 7, 8, 5, 9, 1, 4, 0])

In [4]:
batch_size = 1
batch_x = X_train.iloc[indices[0: + batch_size]]
batch_x

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [ ]:
indices[0:0 + batch_size]
X_train.iloc[[2]]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
2                6.7               3.1                4.4               1.4

In [ ]:
'''
for i in range(0, X_train.shape[0], batch_size):
    batch_x = X_train.iloc[indices[i:i + batch_size]]
    batch_y = y_train.iloc[indices[i:i + batch_size]]
    print(batch_x, batch_y)
'''