In [19]:
from log_reg import LogisticRegression
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from min_max_scaler import MinMaxScaler
import numpy as np
import pandas as pd

log_reg = LogisticRegression()
scaler = MinMaxScaler()

data = load_iris()
X = data.data
y = data.target

scaler = MinMaxScaler()
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = scaler.fit_transform(X_train)

# Only use the first 10 samples for demonstration purposes
X_train = X_train[:10]
X_train = np.concatenate([np.ones((X_train.shape[0], 1)), X_train], axis=1)
y_train = y_train[:10]

X_df = pd.DataFrame(X_train)
X_df

     0         1         2         3         4
0  1.0  0.088235  0.666667  0.000000  0.041667
1  1.0  0.411765  1.000000  0.087719  0.125000
2  1.0  0.705882  0.458333  0.596491  0.541667
3  1.0  0.147059  0.583333  0.105263  0.041667
4  1.0  0.029412  0.500000  0.052632  0.041667
5  1.0  0.588235  0.208333  0.701754  0.750000
6  1.0  0.617647  0.500000  0.614035  0.583333
7  1.0  0.264706  0.625000  0.087719  0.041667
8  1.0  0.205882  0.666667  0.070175  0.041667
9  1.0  0.264706  0.875000  0.087719  0.000000

# 1: Initialize weights

In [23]:
w = np.ones(X_train.shape[1]) / X_train.shape[1]
indices = np.array([5, 3, 9, 6, 0, 2, 8, 4, 7, 1])
batch_size = 1
print(w)
print(indices)

[0.2 0.2 0.2 0.2 0.2]
[5 3 9 6 0 2 8 4 7 1]

# 2: Optimize

### Batch 1: `X_train[[5]]`

In [26]:
batch_x = X_train[indices[0:0 + batch_size]]
batch_y = y_train[indices[0:0 + batch_size]]
print(batch_x)
print(batch_y)

[[1.         0.58823529 0.20833333 0.70175439 0.75      ]]
[2]